<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ link-to 'Home' 'index' class="navbar-brand" }}
    {{#if user}}
            Hello, {{user.name}}
    {{/if}}
    {{#unless user}}
      {{#link-to 'register' class="navbar-brand"}}register{{/link-to}}&nbsp;
      {{#link-to 'login' class="navbar-brand"}}login{{/link-to}}
    {{/unless}}
      </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
